{% extends "base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}

<!-- Main container -->
<div class="container d-flex justify-content-center align-items-center vh-100 move-up">
    <div class="backplate">
        <h3 class="text-center mb-3">{% trans "Sign Up" %}</h3>

        <!-- Sign-up form -->
        <form method="POST" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form.as_table }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <!-- Submit button -->
            <button class="btn btn-success w-100" type="submit">{% trans 'Sign Up' %}</button>
        </form>
    </div>
</div>

{% endblock %}
